<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <% item.forEach(items=> {%>
    <div class="card">
      <div class="card-body mb-4">
        <h4 class="card-title"><%=items.name%></h4>
        <p class="card-text">Text</p>
      </div>
      <%})%>
    </div>
  </body>
</html>
